body{
    font-family: 'Otomanopee One', sans-serif;
    }
    h1{
        font-size: 50px;
    }
    .color{color: rgb(27, 135, 207);}
    section{
        display: flex;
    }
    .half-width{
        width: 50%;
    }
    .half-width img{
        width:100%
    }