body{
    font-family: 'Otomanopee One', sans-serif;
    margin: ;
    }
    h1{
        font-size: 50px;
    }
    .color{color: rgb(27, 135, 207);}
    section{
        display: flex;
        margin-bottom: 20px ;}
    .half-width{
        width: 50%;
        padding: 2%;
    }
    .half-width img{
        width:100%
    }
    .hal-width{width:50%;
     padding-left:2%;}
    .hal-width img{
        width:80%
    }

    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 10px 40px;
    }
    
    .top-baner{background-image: url(New/eee-py.jpg);
        background-repeat: no-repeat;}
    .dream {
            background-image: url(New/eee\ copy.jpg);
            background-repeat: no-repeat;
        }
    